.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

.Rproj.user
.DS_Store
.Rhistoryt
.Rhistory
/.quarto/
/_*.local
/.venv/
/.condaenv/
*_cache/
/env/
/_site/
/.venv/

_book/*
temp/*

**/*.quarto_ipynb

site_libs/*

# Ignore all *_files/ directories
*_files
# Except inside docs/
!docs/*_files/
!docs/*/html/*_files
!docs/*/html/*_files
!docs/*/*/html/*/*_files
!docs/*_files/**
!slides/figures/html/*/*_files
!slides/figures/html/*/index.html

Through*.tex
master*.tex
master*.aux
master*.idx
master*.lof
master*.log
master*.lot
master*.toc
*.tex
!cover.tex
